<configuration>
	<connectionStrings>
		
		<add name="MasterDB" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	
		<add name="EmployeeDB" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Database=EmployeeDB;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
